html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-Regular.woff2"), url("../assets/Inter-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html,
body,
#root {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
}

.wrapper {
  background: linear-gradient(
    42deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.app {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sketch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

canvas {
  margin: auto;
  border-radius: 1rem;
  cursor: pointer;
}

.sketchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  gap: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons * {
  cursor: pointer;
  border: none;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  gap: 10px;
}

.stats * {
  width: 110px;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.3rem;
  width: 170px;
  height: 30px;
  color: rgba(50, 50, 50);
  font-size: 0.7rem;
  position: absolute;
  top: 1%;
  right: 1%;
  transition: transform 0.5s ease;
}

.info {
  position: absolute;
  left: 1%;
  top: 1%;
  background-color: white;
  border-radius: 1rem;
  width: 30px;
  height: 30px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 4;
  overflow: hidden;
  transition: all 0.3s ease;
}

.info a {
  display: none;
  text-wrap: nowrap;
}

.info:hover {
  opacity: 1;
  width: 220px;
  height: 70px;
  border-radius: 0.5rem;
}

.info:hover a {
  display: block;
}

.info:hover span {
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 40px;
  gap: 50px;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
}

select {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  width: 100px;
  height: 30px;
  text-align: center;
}

.bigScreen {
  width: 100px;
  height: 30px;
  border-radius: 0.5rem;
}

.smallScreen {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.startSVG {
  background-position-x: 57%;
  background-position-y: 55%;
  background-size: 14px;
  background-image: url(../assets/play.svg);
}

.stopSVG {
  background-position-x: 52%;
  background-position-y: 50%;
  background-size: 12px;
  background-image: url(../assets/stop.svg);
}

.randomizeSVG {
  background-position-x: 52%;
  background-position-y: 50%;
  background-size: 12px;
  background-image: url(../assets/r.svg);
}

.resetSVG {
  background-position-x: 50%;
  background-position-y: 53%;
  background-size: 18px;
  background-image: url(../assets/rotate.svg);
}

@media (max-width: 768px) {
  html,
  body,
  #root {
    height: 100vh;
  }

  .controls {
    gap: 20px;
  }
}

@media (max-width: 642px) {
  .app {
    gap: 20px;
  }
  .sketch {
    gap: 20px;
  }
  .sketchHeader {
    gap: 20px;
  }
  .buttons {
    padding-left: 20px;
    gap: 15px;
  }
  .stats {
    gap: 0px;
  }
  .stats * {
    width: 70px;
  }
  .controls {
    align-items: center;
    flex-direction: column;
  }
  .info {
    margin: 60px 0 20px 0;
    position: static;
    width: 90%;
    opacity: 1;
    height: 70px;
    border-radius: 0.5rem;
  }
  .info a {
    display: block;
  }
  .info span {
    display: none;
  }
}
